@tailwind base;
@tailwind components;
@tailwind utilities;


.glass {
  /* From https://css.glass */
  background: rgba(157, 14, 14, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}


.glass2 {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.card {
  background-image:  'linear-gradient(to bottom, white, white 95%, pink-100 95%)'
}



.blurred-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}

.blurred-bg::before,
.blurred-bg::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,0,150,0.5) 0%, rgba(255,0,150,0) 70%);
  filter: blur(100px);
  z-index: 1;
}

.blurred-bg::before {
  top: 10%;
  left: 10%;
  background: radial-gradient(circle, rgba(255,0,150,0.5) 0%, rgba(255,0,150,0) 70%);
}

.blurred-bg::after {
  top: 60%;
  right: 30%;
  background: radial-gradient(circle, rgba(0,255,150,0.5) 0%, rgba(0,255,150,0) 70%);
}


/*Don't forget to use poisition relatibe and index abot ::before */
/* .dotted-background {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #000000, #1a1a1a, #0a0a0a);
  z-index: 1; 
}
.dotted-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #b3b3b3 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.1;
  z-index: 0;
} */


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
